@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'farro';
    src: url('./assets/fonts/Farro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'farro-bold';
    src: url('./assets/fonts/Farro-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'farro-italic';
    src: url('./assets/fonts/Farro-Light.ttf') format('truetype');
    font-style: italic;
}

body {
    font-family: 'farro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    min-height: 100vh;
}